.masthead-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.masthead-image {
  background-size: cover;
  background-position: 50%;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.masthead-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.1;
}

.masthead-image.light:before {
 opacity:0.1; 
}
   
.masthead-image.darken:before {
 opacity:0.3; 
}

.masthead-image h1:before {
  background-color: transparent;
}

.masthead-image h1, .masthead-image h2 {
  text-transform: none;
  margin-top: 0;
  text-align: left;
  max-width: 100%;
  color: #fff;
  text-shadow: 0 0 0.3em black;
  padding: 0;
  margin: 0;
}

.masthead-image h1 span {
  font-family: 'Muller', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: transparent;
  padding: 0px 0px 10px 0;
  line-height: 0.9;
}

.masthead-image h2 {
  font-family: 'URW Antiqua Regular', Times, 'Times New Roman', serif;
  font-weight: 500;
}

.masthead-image .masthead-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  padding-right: 30px;
}

.masthead-content.animated.fadeInUp {
  position: relative;
}

.callout-overlay {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 420px;
}

.callout-content {
  margin: auto 0;
  padding: 0 30px;
  text-align: left;
  position: relative;
}

.callout-content h3 {
  color: #fff;
  text-shadow: 0 0 0.3em black;
  margin: 0 0 10px;
}

.callout-text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 30px;
  display: inline-block;
  text-shadow: 0 0 0.3em black;
}

.callout-btn {
  border-radius: 12px;
  display: inline-block;
  padding: 14px 24px;
  text-transform: uppercase;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  margin: 0 10px 10px 0;
  box-shadow: 0 0 0.3em black;
  text-align: center;
}

.btn-container {
  display: inline;
}

.primary-btn {
  border: 1px solid #2F99C4;
  background-color: #2F99C4;
}

.primary-btn:hover {
  border: 1px solid #1868AA;
  background-color: #1868AA;
}

.secondary-btn {
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.secondary-btn:hover {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  box-shadow: inset 0 0 0 1.5px #FFFFFF;
}

.multi-callout {
  text-align: center;
  width: 100%;
}

.multi-callout h3 {
  color: #fff;
  letter-spacing: -1px;
  font-size: 36px;
  line-height: 0.9;
  margin: 0 0 20px 0;
}

.multi-callout .callout-btn {
  width: 150px;
  height: 17px;
  margin: 5px;
  padding: 15px 0;
  vertical-align: middle;
}

.multi-callout .multi-line-btn {
  line-height: 1.1;
  padding: 6px 0;
  height: 35px;
}

@media only screen and (max-width: 413px) {
  .masthead-image h1 {
    font-size: 44px;
    letter-spacing: -1px;
  }
  .masthead-image h2 {
    font-size: 20px;
  }
  .callout-btn {
    padding: 14px 0;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
  }
  .multi-callout .callout-btn {
    padding: 14px 0;
    width: 100%;
    margin: 0 0 10px;
  }
  .masthead-image .masthead-content {
    width: auto;
  }
}

@media only screen and (min-width: 414px) {
  .masthead-image h1 {
    font-size: 44px;
    letter-spacing: -1px;
  }
  .masthead-image h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .masthead-container {
    height: 270px
  }
  .masthead-image h1 span {
    padding: 0px 0px 20px 0;
  }
}

@media only screen and (max-width: 1439px) and (min-width: 768px) {
  .masthead-image h1 {
    font-size: 60px;
    letter-spacing: -2px;
  }
  .masthead-image h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1023px) {
  .masthead-container {
    height: auto;
    display: inline-block;
    padding: 0;
    width: 100%;
  }
  .masthead-content.animated.fadeInUp {
    padding: 40px 5%;
  }
  .callout-overlay {
    width: 100%;
    height: auto;
  }
  .callout-content {
    padding: 20px 5%;
  }
  .multi-callout {
    text-align: left;
  }
}

@media only screen and (min-width: 549px) and (max-width: 1023px) {
  .btn-container {
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .masthead-container {
    height: 370px;
  }
  .callout-overlay {
    height: 370px;
    width: 370px;
    min-width: 370px;
  }
  .multi-callout .callout-btn {
    width: 130px;
  }
}

@media only screen and (min-width: 1280px) {
  .masthead-container {
    height: 420px;
  }
  .callout-overlay {
    height: 420px;
    width: 420px;
    min-width: 420px;
  }
}

@media only screen and (min-width: 1440px) {
  .masthead-container {
    height: 420px;
  }
  .masthead-image h1 {
    font-size: 80px;
    letter-spacing: -3px;
  }
  .masthead-image h2 {
    font-size: 36px;
  }
}
